## Universidad de los Andes
### Habilidades Intermedias para Analistas de Datos
### Módulo 2 - Herramientas de Programación para el Análisis de Datos
### Práctica de Visualización

**¿Recuerdan el análisis de delitos que estabamos haciendo? Ahora, lo vamos a complementar con visualizaciones.**

Colombia es uno de los países con mayores índices de delitos; los índices de hurtos y homicidios han credido en los últimos años signficativamente y, a su vez, la tendencia del incremento de delitos a menores. Usted como analista de datos recibe información recolectada por el DANE y el Ministerio de Defensa entre el periodo de 2010 a 2016 con el fin de estudiar y analizar cuáles son las características que tienen las mayores víctimas de delitos, las armas empleadas y los municipios afectados.

Para lo anterior, le han proporcionado tres bases.
- 1. Base de delitos de Colombia desde 2010 hasta 2013 (Formato csv)
- 2. Base de delitos de Colombia desde 2014 hasta 2016 (Formato csv)
- 3. Base de departamentos y municipios de Colombia (Hoja: MUNICIPIOS, Formato Excel)

**NO OLVIDE : ANALIZAR LOS RESULTADOS**

**1. Cargue de librerias**

In [1]:
import pandas as pd

**2. Cargue de las bases de delitos**

Visualice las bases de datos. ¿Cuántas y qué variables tienen? ¿Cuántos registros tienen?

Dado que, una contiene los datos de delitos de 2010 a 2013 y la otra de 2014 a 2016, valide que contengan las mismas columnas/variables. Si es así, es eficiente unirlas de forma vertical para realizar el análisis integral.

In [2]:
df1_2013 = pd.read_csv(r'Delitos 2010-2013.csv')
df1_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319949 entries, 0 to 319948
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TEMÁTICA        319949 non-null  object
 1   FECHA           319949 non-null  object
 2   DIA             319949 non-null  object
 3   HORA            319949 non-null  object
 4   BARRIO          304383 non-null  object
 5   ZONA            319949 non-null  object
 6   CLASE SITIO     319949 non-null  object
 7   ARMA EMPLEADA   319949 non-null  object
 8   MOVIL AGRESOR   319949 non-null  object
 9   MOVIL VICTIMA   319949 non-null  object
 10  EDAD            319949 non-null  object
 11  SEXO            319949 non-null  object
 12  ESTADO CIVIL    319949 non-null  object
 13  PAIS NACE       319949 non-null  object
 14  CLASE EMPLEADO  319949 non-null  object
 15  PROFESION       315042 non-null  object
 16  ESCOLARIDAD     319949 non-null  object
 17  CODIGO DANE     319949 non-null  int64
 18  AÑO             319949 non-null  float64
dtypes: float64(1), int64(1), object(17)
memory usage: 46.4+ MB

In [3]:
df1_2016 = pd.read_csv(r'Delitos 2014-2016.csv')

In [4]:
df1_2013.columns

Index(['TEMÁTICA', 'FECHA', 'DIA ', 'HORA', 'BARRIO', 'ZONA', 'CLASE SITIO',
       'ARMA EMPLEADA', 'MOVIL AGRESOR', 'MOVIL VICTIMA', 'EDAD', 'SEXO',
       'ESTADO CIVIL', 'PAIS NACE', 'CLASE EMPLEADO', 'PROFESION',
       'ESCOLARIDAD', 'CODIGO DANE', 'AÑO'],
      dtype='object')

In [5]:
df1_2016.columns

Index(['TEMÁTICA', 'FECHA', 'DIA ', 'HORA', 'BARRIO', 'ZONA', 'CLASE SITIO',
       'ARMA EMPLEADA', 'MOVIL AGRESOR', 'MOVIL VICTIMA', 'EDAD', 'SEXO',
       'ESTADO CIVIL', 'PAIS NACE', 'CLASE EMPLEADO', 'PROFESION',
       'ESCOLARIDAD', 'CODIGO DANE', 'AÑO'],
      dtype='object')

In [6]:
df1_2013.head(4)

,TEMÁTICA,FECHA,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE,AÑO
0,AMENAZA,2013-01-01,Martes,9:00,NaN,URBANA,CASAS DE HABITACION,ARMA DE FUEGO,NO REPORTADO,NO REPORTADO,58,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADO,SUPERIOR,91001000,2013.0
1,AMENAZA,2013-01-01,Martes,10:00,NaN,RURAL,RESGUARDO INDÍGENA,CONTUNDENTES,A PIE,A PIE,35,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,91001000,2013.0
2,AMENAZA,2013-01-01,Martes,19:00,NaN,RURAL,CASAS DE HABITACION,CONTUNDENTES,A PIE,A PIE,42,MASCULINO,UNION LIBRE,COLOMBIA,EMPLEADO SALUD,NO REPORTADO,SECUNDARIA,91001000,2013.0
3,AMENAZA,2013-01-01,Martes,19:00,NaN,RURAL,NO DEFINIDO,CONTUNDENTES,A PIE,A PIE,26,MASCULINO,UNION LIBRE,COLOMBIA,AGRICULTOR,NO REPORTADO,SECUNDARIA,91001000,2013.0

In [7]:
df1_2016.head(4)

,TEMÁTICA,FECHA,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE,AÑO
0,ABIGEATO,2014-01-01,Miércoles,4:00,VEREDA ANA MARIA,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,27,FEMENINO,SOLTERO,COLOMBIA,INDEPENDIENTE,NO REPORTADO,SUPERIOR,47058000,2014.0
1,ABIGEATO,2014-01-01,Miércoles,18:00,VEREDA LAS ROSAS,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,46,MASCULINO,CASADO,COLOMBIA,AGRICULTOR,NO REPORTADO,SECUNDARIA,50330000,2014.0
2,ABIGEATO,2014-01-01,Miércoles,6:00,VEREDA SAN LUIS DE RIO NEGRO,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,A PIE,62,MASCULINO,CASADO,NO REPORTADO,AGRICULTOR,NO REPORTADO,PRIMARIA,50573000,2014.0
3,ABIGEATO,2014-02-01,Jueves,1:00,QUEBRADA ARRIBA,RURAL,FINCAS Y SIMILARES,SIN EMPLEO DE ARMAS,A PIE,NO REPORTADO,25,MASCULINO,CASADO,COLOMBIA,AGRICULTOR,NO REPORTADO,PRIMARIA,5034000,2014.0

In [8]:
# Union Vertical
df_delitos = pd.concat([df1_2013,df1_2016])
df_delitos.reset_index(drop = True, inplace = True)

In [9]:
df_delitos.head(2)

,TEMÁTICA,FECHA,DIA,HORA,BARRIO,ZONA,CLASE SITIO,ARMA EMPLEADA,MOVIL AGRESOR,MOVIL VICTIMA,EDAD,SEXO,ESTADO CIVIL,PAIS NACE,CLASE EMPLEADO,PROFESION,ESCOLARIDAD,CODIGO DANE,AÑO
0,AMENAZA,2013-01-01,Martes,9:00,NaN,URBANA,CASAS DE HABITACION,ARMA DE FUEGO,NO REPORTADO,NO REPORTADO,58,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADO,SUPERIOR,91001000,2013.0
1,AMENAZA,2013-01-01,Martes,10:00,NaN,RURAL,RESGUARDO INDÍGENA,CONTUNDENTES,A PIE,A PIE,35,MASCULINO,SOLTERO,COLOMBIA,EMPLEADO PARTICULAR,NO REPORTADO,SECUNDARIA,91001000,2013.0

- Convierta la variable CODIGO DANE en String. Adicionalmente valide que el tamaño de la variable CODIGO DANE sea de 5 caracteres. Si no es así, arréglela y quédese con los primeros 5 caracteres de cada valor.
-Es importante evitar que variables de tipo número almacenen códigos de identificación. Cuándo hay códigos que inician con cero, como el DIVIPOLA del DANE para los departamentos Antioquia (05) y Atlántico (08), los ceros iniciales se pierden y el manejo del dato no es limpio. En el siguiente código veremos cómo verificar que los codigos sean consistentes y cómo podemos arreglar algunos problemas comunes.

In [10]:
# AYUDA: obtener información general de la variable que vamos a analizar
df_delitos['CODIGO DANE'] = df_delitos['CODIGO DANE'].astype(str)
df_delitos['CODIGO DANE'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 558815 entries, 0 to 558814
Series name: CODIGO DANE
Non-Null Count   Dtype
--------------   -----
558815 non-null  object
dtypes: object(1)
memory usage: 4.3+ MB

Revisemos la longitud mínima y máxima de los códigos municipales.

In [11]:
longitud_minima = df_delitos['CODIGO DANE'].str.len().min()
longitud_maxima = df_delitos['CODIGO DANE'].str.len().max()
print("mínimo " ) 
print(longitud_minima)
print("máximo " ) 
print(longitud_maxima)

mínimo
7
máximo
8

Vemos que hay 72771 observaciones que tiene un código mas corto de lo esperado

In [12]:
sum(df_delitos['CODIGO DANE'].str.len()==7)

72771

y que, haciendo un enfoque a estos códigos, todos terminan con tres ceros "000", esto inica que la porción faltante del código es al inicio.

In [13]:
df_zoom=df_delitos[df_delitos['CODIGO DANE'].str.len()==7]
pd.unique(df_zoom['CODIGO DANE'])

array(['5045000', '5051000', '5001000', '5837000', '8078000', '8001000',
       '8634000', '8758000', '8433000', '5234000', '5665000', '8296000',
       '8638000', '8573000', '5147000', '5490000', '5585000', '8421000',
       '5579000', '5172000', '8560000', '8685000', '8849000', '8606000',
       '8549000', '8520000', '8436000', '8372000', '8770000', '5154000',
       '8137000', '8832000', '8141000', '8558000', '5353000', '5861000',
       '5079000', '5088000', '5209000', '5212000', '5250000', '5266000',
       '5360000', '5631000', '5761000', '5887000', '5034000', '5091000',
       '5282000', '5364000', '5679000', '5895000', '5120000', '5809000',
       '5129000', '5697000', '5284000', '5615000', '5854000', '5873000',
       '5642000', '5670000', '5736000', '5842000', '5240000', '5380000',
       '5480000', '5376000', '5030000', '5361000', '5789000', '5145000',
       '5031000', '5686000', '5306000', '5674000', '5347000', '5604000',
       '5310000', '5847000', '5107000', '5390000', '5040000', '5055000',
       '5142000', '5308000', '5756000', '5093000', '5647000', '5819000',
       '5002000', '5237000', '5038000', '5893000', '5440000', '5042000',
       '5483000', '5659000', '5790000', '5125000', '5134000', '5190000',
       '5101000', '5890000', '5021000', '5656000', '5318000', '5467000',
       '5543000', '5591000', '5576000', '5607000', '5541000', '5313000',
       '5044000', '8675000', '5148000', '5400000', '5315000', '5113000',
       '5660000', '5321000', '5664000', '5206000', '5368000', '5658000',
       '5264000', '5628000', '5690000', '5411000', '5036000', '5792000',
       '5197000', '5858000', '5059000', '5856000', '5495000', '5138000',
       '5649000', '5501000', '5885000', '5667000', '5086000', '5425000',
       '5150000', '5652000', '5475000', '5004000'], dtype=object)

Podemos usar la instrucción str.zfill para llenar con ceros una cadena de caracteres para completar una longitud deseada. Esto es, que todos nuestros códigos tengan 8 caracteres, agregando el cero faltante al inicio de los códigos de municipios de los departamentos Antioquia y Atlántico. </br>
Note que llegar a estas conclusiones implica un conocimiento detallado de los datos que esta utilizando, que solo se obtiene investigando. Esto implica en gran parte conversar con expertos en el negocio antes, durante y después de la realización de los procesamientos y análisis.

In [14]:
df_delitos['CODIGO DANE'] = df_delitos['CODIGO DANE'].str.zfill(longitud_maxima)

si buscamos a un código incompleto que indentificamos antes, este ya no está

In [15]:
sum(df_delitos['CODIGO DANE']=="5045000")

0

Si buscamos el resultado corregido, este si está. Y está 1570 veces. Esto quiere decir que en el conjunto de datos hay 1570 registros de delitos cometidos en el municipio "05450"

In [16]:
sum(df_delitos['CODIGO DANE']=="05045000")

1570

**Ahora sí** Debemos extraer los 5 caracteres del CODIGO DANE. Podemos usar la función apply y el parámetro lambda.

In [17]:
df_delitos["CODIGO DANE"] = df_delitos['CODIGO DANE'].apply(lambda x: x[0:5])

In [18]:
sum(df_delitos["CODIGO DANE"]=="05045")

1570

In [ ]:
# También podemos usar la funcion slice de pandas, que para este caso la especificamos así:
# df['CODIGO DANE'] = df['CODIGO DANE'].str.slice(0, 5)
# Documentación de la función en: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html

In [19]:
df_delitos["CODIGO DANE"].head()

0    91001
1    91001
2    91001
3    91001
4    91001
Name: CODIGO DANE, dtype: object

**3. Cargue de la base de municipios**

Al cargar tenga en cuenta en qué hoja que se encuentra la base de datos y la estructura de la misma.

In [20]:
# Si cargamos la base de datos con los parámetros por Default. Note que carga una hoja vacía. 
# Lo anterior, se debe a que se encuentra en la hoja "MUNICIPIOS", mencionada en la introducción del cuaderno.
df_municipios = pd.read_excel(r'BASE_DPTO_MUNICIPIOS.xlsx')
df_municipios.head(2)

Empty DataFrame
Columns: []
Index: []

In [21]:
# Seleccionando la hoja. Nos damos cuenta que en realidad las variables de la base empiezan en la fila 3.
# Usamos el parámetro skiprows para cambiarlo
df_municipios = pd.read_excel(r'BASE_DPTO_MUNICIPIOS.xlsx', sheet_name='MUNICIPIOS')
df_municipios.head(4)

,CODIGO DANE - MUNICIPIOS,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,COL4,COL5,COL6
2,MAGDALENA,ARIGUANÍ,47058,NaN,NaN,NaN
3,META,MESETAS,50330,NaN,NaN,NaN

In [22]:
# Seleccionando la hoja. Nos damos cuenta que en realidad las variables de la base empiezan en la fila 3.
# Usamos el parámetro skiprows para cambiarlo
df_municipios = pd.read_excel(r'BASE_DPTO_MUNICIPIOS.xlsx', sheet_name='MUNICIPIOS', skiprows = 2)
df_municipios.head(4)

  DEPARTAMENTO     MUNICIPIO  CODIGO DANE  COL4  COL5  COL6
0    MAGDALENA      ARIGUANÍ        47058   NaN   NaN   NaN
1         META       MESETAS        50330   NaN   NaN   NaN
2         META  PUERTO LÓPEZ        50573   NaN   NaN   NaN
3    ANTIOQUIA         ANDES        50340   NaN   NaN   NaN

- Valide si todas las variables que cuenta la base de datos tienen información. De lo contrario elimínelas, no serán necesarias para el análisis.
- Adicional, valide que la variable CODIGO DANE se encuentre en tipo string. Si no conviertala.

In [23]:
# Se evidencia que existen 3 variables con datos NULOS en todas sus observaciones.
df_municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  1096 non-null   object
 1   MUNICIPIO     1096 non-null   object
 2   CODIGO DANE   1096 non-null   int64
 3   COL4          0 non-null      float64
 4   COL5          0 non-null      float64
 5   COL6          0 non-null      float64
dtypes: float64(3), int64(1), object(2)
memory usage: 51.5+ KB

In [24]:
# Eliminamos variables sin información y reemplazamos la base con el parámetro inplace.
df_municipios.drop(['COL4', 'COL5', 'COL6'], axis=1, inplace = True)

In [25]:
df_municipios['CODIGO DANE'] = df_municipios['CODIGO DANE'].astype(str)

**OJO VALIDE TAMBIEN LOS CODIGO DANE, SI NO DEBE ARREGLAR LO QUE REALIZO ANTERIORMENTE**

**4.Los registros de la variable EDAD que aparecen como: NO REPORTADO, NO REPORTADO1, NO REPORTADA. Reemplacelos como Nan o vacio y convierta la variable edad en tipo númerica para realizar operaciones**

In [26]:
# AYUDA:
# De esta forma los puede reemplazar
import numpy as np
df_delitos['EDAD'] = df_delitos['EDAD'].replace({"NO REPORTADO": np.nan, "NO REPORTADA": np.nan, "NO REPORTADO1":np.nan, '-':np.nan})
# Convertir la variable EDAD a FLOAT
df_delitos['EDAD'] = df_delitos['EDAD'].astype(float)

**5. En la base de delitos, cree una variable llamada CAT_EDAD que clasifique la edad de acuerdo a las etapas:**  ANALICE

Datos nan, nulos o vacios (No reportados), Primera infancia (0-5 años), infancia (6 - 11 años), adolescencia (12-18 años), juventud (19 - 26 años), adultez (27 - 59 años) y vejez (60 años y más).

**Tip: Utilizará condicionales y la función Apply (Definirá funciones). Puede validar vacíos con: np.isnan(Edad)**

In [27]:
# Definir función CAT_EDAD
def CAT_EDAD(Edad):
    if np.isnan(Edad):
        return 'No reportado'
    elif Edad <= 5:
        return 'Primera Infancia'
    elif (Edad >= 6) & (Edad <= 11):
        return 'Infancia'
    elif (Edad >= 12) & (Edad <= 18):
        return 'Adolescencia'
    elif (Edad >= 19) & (Edad <= 26):
        return 'Juventud'
    elif (Edad >= 27) & (Edad <= 59):
        return 'Adultez'
    elif Edad >= 60:
        return 'Vejez'
    else:
        return 'Sin dato'

In [28]:
df_delitos['CAT_EDAD'] = df_delitos['EDAD'].apply(CAT_EDAD)

## ------------ A partir de este punto debe responder las preguntas con visualizaciones. Aborde los tipos de gráficos de acuerdo al tipo de variable y personalicelo. Tambien deje una breve conclusión que no supere una línea sea contundente.

**6. ¿Top 10 de los municipios con mayor número de hurtos en el periodo comprendido entre 2010 y 2016?**

**7. Mediana de la edad de las victimas por modalidad**

**Tip:** Antes de generar cálculos, piense en cuáles gráficos le podría dar esta y más estadísticas.

**8. Top 5 de las armas empleadas en el delito 'HURTO A PERSONAS'** ANALICE

**9. Tendencia de delitos en el año 2016**

**Tip:** Recuerde validar los tipos de variable, especialmente el de la fecha.

**10. Tendencia de delitos desde 2010 hasta 2016 por sexo**

**11. Días en los que se cometen una mayor cantidad de hurtos**

**12. Distribución de la variable edad**

**13. Relación entre la escolaridad del empleado y la edad.**